/*
Error: Undefined variable: "$pink".
        on line 5 of D:/Denwer/home/git/inwomen/project/sass/modules/_wp_classes.scss

1: .content-place {
2: 	/* For emoji replacement images *\/
3: 	blockquote {
4: 		padding-left: 1rem;
5: 		border-left: 3px solid $pink;
6: 	}
7: 	img.emoji {
8: 		display: inline !important;
9: 		border: none !important;
10: 		height: 1em !important;

Backtrace:
D:/Denwer/home/git/inwomen/project/sass/modules/_wp_classes.scss:5
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/script/tree/node.rb:50:in `perform'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/script/tree/list_literal.rb:63:in `map'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/script/tree/list_literal.rb:63:in `_perform'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/script/tree/node.rb:50:in `perform'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-1.0.3/bin/compass:44:in `call'
D:/progs/Prepros 5/resources/app/ruby/ruby_gems/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
D:/progs/Prepros 5/resources/app/ruby/loader.rb:15:in `load'
D:/progs/Prepros 5/resources/app/ruby/loader.rb:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$pink\".\A         on line 5 of D:/Denwer/home/git/inwomen/project/sass/modules/_wp_classes.scss\A \A 1: .content-place {\A 2: 	/* For emoji replacement images */\A 3: 	blockquote {\A 4: 		padding-left: 1rem;\A 5: 		border-left: 3px solid $pink;\A 6: 	}\A 7: 	img.emoji {\A 8: 		display: inline !important;\A 9: 		border: none !important;\A 10: 		height: 1em !important;"; }
