.reviews-title
	text-transform: none
	span 
		color: #6B6D74
.reviews
	padding-bottom: 30px
.reviews-total
	display: flex
	align-items: center
	margin-bottom: 10px
.number-rating
	font-size: 20px
	line-height: 24px
	color: #1F2227
	margin-right: 10px
.total-reviews-count
	color: #6B6D74
	margin-bottom: 30px
	font-size: 12px
	line-height: 14px
.reviews--list
	padding-bottom: 30px
.reviews-list-in-categoty
	@media (max-width: $mobile)
		overflow-x: auto
		display: flex
		flex-flow: row nowrap
		padding-bottom: 20px
		.reviews--item
			min-width: 280px
			margin-right: 15px
.reviews--item
	margin-bottom: 40px
	+flex 
	+flex-j
	align-items: normal
	@media (max-width: $mobile)
		flex-direction: column
		margin-bottom: 10px
.reviews--avatar
	height: 70px
	width: 70px
	+bg
	border-radius: 108rem
	@media (max-width: $mobile)
		margin-bottom: 15px
.reviews--text-place
	width: calc(100% - 100px)
	line-height: 1.5
	@media (max-width: $mobile)
		width: 100% !important
		font-size: 14px
.reviews--link
	font-size: 14px
	margin-bottom: 10px
	a 
		color: $black
		text-decoration: underline 
		&:hover
			text-decoration: none
.reviews--people-info
	margin-bottom: 15px
	font-size: 14px
	color: #47484B
	display: flex 
	span 
		margin-right: 15px
.reviews--rewiew-text 
	color: #1F2227
	line-height: 26px
	font-size: 16px
.reviews--attach-list
	+flex 
	padding: 10px 0 0
	img 
		margin-right: 10px
		margin-bottom: 10px
.reviews--slider
	position: relative
	+owl 
	@media (max-width: $mobile)
		overflow-x: auto
		display: flex
		flex-flow: row nowrap
	.item 
		@media (max-width: $mobile)
			flex-direction: column
			min-width: 288px
			margin-right: 15px
//
.review--product
	+flex 
	align-items: normal
.review--product-place
	padding-left: 20px
	width: calc(100% - 177px)
	@media (max-width: 500px)
		width: 100%
		padding-left: 0

.review--product-title
	color: #47484B
	font-size: 16px
	line-height: 22px
	margin-bottom: 20px
.review--product-price 
	font-size: 20px
	line-height: 24px
	color: #1F2227
	margin-bottom: 20px
.review--product-price-2 
	font-size: 14px
	line-height: 17px
	color: #47484B
	margin-left: 20px

///
.review-add-order
	background: #F5F5F5
	padding: 30px 40px
	+flex 
	+flex-j
	margin: 30px 0
	@media (max-width: 600px)
		padding: 20px
.review--product-image
	width: 170px
	@media (max-width: 500px)
		width: 100%
		text-align: center 
		margin-bottom: 10px
	img 
		max-width: 100%
.review-add-order-button-place--place
	+flex 
	width: calc(100% - 230px)
	@media (max-width: 600px)
		width: 100%
	h3  
		width: 100%
		font-size: 20px
		color: #1F2227
		padding: 10px 0
		line-height: 32px
.review-add-order-button-place--button
	width: 230px
	@media (max-width: 600px)
		width: 100%
		
.reviews-top-place
	+flex 
	+flex-j
	padding-bottom: 60px
	align-items: end
	.text 
		width: 100%
		max-width: 636px
		p 
			font-size: 24px
			line-height: 34px
			color: #6B6D74
			strong 
				color: $title
			@media (max-width: $mobile)
				font-size: 18px
				line-height: 26px
	.btn-green
		max-width: 230px
		justify-content: center
		line-height: 70px
		margin-bottom: 30px
	.rating-place
		+flex 
		.count
			font-size: 48px
			line-height: 52px
			+f-light
			color: #1F2227
			margin-right: 15px
		.stars-and-text
			small 
				font-size: 12px
				line-height: 14px
				color: #6B6D74
			.module-stars
				margin-bottom: 10px