.container
	// padding: 0 15px
	width: $site-width
	margin: 0 auto
	position: relative
	padding: 0 15px
	+after
	+before
	@media (max-width: $site-width)
		width: $h

=flex 
	display: flex
	flex-flow: row wrap
	align-items: center

=flex-j
	justify-content: space-between

.flex
	display: flex
	flex-flow: row wrap
	&.container
		padding: 0

=flex-1
	margin-left: 15px
	margin-right: 15px
	width: calc(100% - 30px)

=flex-1-5
	margin-left: 15px
	margin-right: 15px
	width: calc(100% / 1.5 - 30px)
=flex-2
	margin-left: 15px
	margin-right: 15px
	width: calc(100% / 2 - 30px)

=flex-3
	margin-left: 15px
	margin-right: 15px
	width: calc(100% / 3 - 30px)

=flex-4
	margin-left: 15px
	margin-right: 15px
	width: calc(100% / 3 - 30px)

.group
	display: flex
	flex-flow: row wrap
	margin-left: -15px
	margin-right: -15px
	&.align-center
		align-items: center
	&.align-top
		align-items: normal
	>.cell 
		&.size-66
			margin: 0 15px
			+flex-1-5
		&.size-25
			+flex-4
		&.size-33
			+flex-3
		&.size-50
			+flex-2
		&.size-100
			+flex-1
	&.adapt
		>.cell
			@media (max-width: $mobile)
				width: calc(100% - 30px) !important