$dir: "../images/";
$test: false;
$show-grid: true;
$show-grid: false;
$site-width: 1340px;
$site-font-size: 16px;
$site-line-height: 1;
$h: 100%;

$main-bg: #FFF;
// $main-bg: shade(#FFF, 66);

$red: #B50000;
$green: #2E884C;
$green2: #01D161;
$brown: #C99E5A;
$blue: #3292F0;
$blue-dark: #323845;
$orange: #E4933C;
$yellow: #E6BA33;
$pink: #DE2377;

$purple: #58568D;

$border: #F9F9F9;
$border-orange: #EB7000;

$footer: #1C262F;

$black: #1F2227;
$gray: #6B6D74;
$gray2: #2A2A2A;
$text: #6B6D74;
$blue-text: $blue;
$text2: #6B6D74;
$title: #1F2227;
$link: $green;
$border: #E7E7E7;
$subtext: shade($text, 75);
$placeholder: #615E5E;

$alpha: .333;


$mobile: 768px;