.show-mobile
	display: none
	@media (max-width: $mobile)
		display: block
.all-list-link
	padding-top: 10px
	>a 
		background: #F5F5F5
		text-align: center 
		color: #47484B
		line-height: 4
		text-decoration: none
		display: block