.content-container
	padding-left: 100px
	@media (max-width: $site-width)
		padding-left: 15px
		padding-right: 15px
.search
	@media (max-width: $mobile) 
		display: none
	form
		display: flex
		position: relative
		width: 100%
		+after 
			+svg("search-top",16px,16px)	
			position: absolute
			left: 0
			top: 24px
.search--input
	border: 1px solid #E0E0E0
	border-left: 0
	border-top: 0
	color: #9FA3AD
	padding-left: 35px
	font-size: 14px
	line-height: 60px
	height: 60px
	flex-basis: calc(100% - 260px)
	+input-placeholder
		font-size: 14px
		color: #9FA3AD
.search--share
	height: 60px
	flex-basis: 80px
	text-align: center
	line-height: 60px
	cursor: pointer
	position: relative
	background: #FFF
	border-right: 1px solid #E0E0E0
	border-bottom: 1px solid #E0E0E0
	&:hover
		background: #F7F7F7
	+after 
		+svg("search-submit",24px,24px)	
		display: inline-block
		vertical-align: middle
	&.on 
		&:after 
			+svg("search-share-on",24px,24px)
.share-open
	display: none
	position: absolute
	z-index: 108
	left: 0
	top: 68px
	width: 240px
	+shadow
	padding: 15px
	line-height: 1
	background: rgba(255, 255, 255, 0.94)
.share-open--wr
	+flex 
	+flex-j
	a 
		margin-right: 10px
		&:last-child 
			margin-right: 0
.search--calc
	line-height: 60px
	display: flex
	height: 60px
	border-right: 1px solid #E0E0E0
	border-bottom: 1px solid #E0E0E0
	a 
		background: #F7F7F7
		display: flex
		align-items: center
		color: #47484B
		width: 200px
		justify-content: center
		+before 
			+svg("calculator-line",24px,24px)	
			margin-right: 16px	
.breadcrumbs
	ul
		display: flex
		padding: 30px 0
		li 
			margin-right: 23px
			a 
				font-size: 12px
				color: #6B6D74
			&:last-child
				a 
					color: #9FA3AD
.main-content
	padding: 30px 0 90px
	color: #47484B
	p 
		font-size: 16px
		line-height: 28px
		b 
			color: #1F2227
.question-form
	background: #DFE4E8
	padding: 80px 60px 90px 100px
	display: flex
	@media (max-width: $mobile)
		padding: 30px
		flex-direction: column
.question-form--text
	flex: 1
	h2 
		color: $green 
		font-size: 24px
		line-height: 32px
		text-transform: none
		+f-bold
		margin-bottom: 12px
	p 
		font-size: 24px
		line-height: 34px
		color: #1F2227
		+f-medium
	.question-form--phone
		margin-top: 90px
		font-size: 14px
		line-height: 2
		b 
			color: #1F2227
			font-size: 16px
		@media (max-width: $mobile)
			margin-top: 20px
.question-form--form-place
	flex: 1
	@media (max-width: $mobile)
		padding-top: 10px
	.dynamic-input 
		// width: 100%
		// border: 0
		// height: 70px
		// color: #6B6D74
		// padding: 10px 20px
		margin-bottom: 26px
	small 
		font-size: 12px
		color: #5C6577
		a 
			color: #1F2127
			display: inline
			vertical-align: baseline
			@media (max-width: $mobile)
				text-decoration: underline
	.group
		align-items: center
		@media (max-width: $mobile)
			flex-direction: column
		.cell 
			@media (max-width: $mobile)
				+flex-1
				margin-bottom: 15px
				&:nth-child(1)
					order: 2
	.btn-green
		font-size: 16px
		line-height: 19px
		height: 70px
		text-align: center
		justify-content: center

.trust-block
	padding: 60px 0 90px
	margin-bottom: 50px
	h2 
		text-transform: none
.trust-block--slider
	max-width: 100%
	+owl
	@media (max-width: $mobile)
		overflow-x: auto
		display: flex
		flex-flow: row nowrap
		padding-bottom: 20px
	.item
		+flex 
		flex-direction: column
		@media (max-width: $mobile)
			min-width: 200px
		>div 
			width: $h
			text-align: center
			line-height: 140px
			>img 
				vertical-align: middle
				display: inline-block
.benefits-block
	h2 
		text-transform: none
	h3 
		color: $green
		font-size: 20px
		line-height: 32px
		margin-bottom: 15px
		font-weight: 600
	.cell 
		margin-bottom: 20px
		@media (max-width: $mobile)
			width: calc(100% - 30px) !important
.article-determined-block
	+flex
	padding-top: 110px
	padding-bottom: 5px
	align-items: center
	+flex-j
	@media (max-width: 1060px)
		flex-direction: column
	img 
		max-width: 100%
.article-determined-block--text
	flex: 1
	padding-right: 60px
	min-width: 340px
	@media (max-width: 1060px)	
		padding-right: 0
		order: 2
		min-width: 1px
	h2 
		text-transform: none
		font-size: 24px
		line-height: 34px
	p 
		font-size: 16px
.article-determined-block--image
	flex: 1
	@media (max-width: 1060px)	
		order: 1
		width: 100%
		margin-bottom: 10px
	.img 
		+bg 
		width: 455px
		height: 575px
		@media (max-width: 1060px)	
			width: 100%
			height: 180px
.article-determined-block--more
	flex-basis: 100%
	display: flex
	margin-top: 40px
	@media (max-width: 1060px)	
		order: 3
		width: 100%
	a 
		background: #F5F5F5
		line-height: 3.75
		justify-content: center
		width: 100%
		display: flex
		align-items: center
		font-size: 16px
		+before 
			@extend .icons-green-arrow-down
			margin-right: 6px
		&.on
			&:before 
				transform: rotate(180deg)
.article-determined-block--image-big
	padding-bottom: 30px
	img 
		max-width: 100%
.article-determined-block--hidden
	display: none
	padding-top: 30px
	h2 
		font-size: 24px
		line-height: 34px
		text-transform: none
	img 
		max-width: 100%
	.group 
		.cell 
			@media (max-width: $mobile)
				width: calc(100% - 30px) !important
h2 , h1
	&.h2-link
		text-transform: none
		vertical-align: bottom
		display: flex 
		align-items: baseline
		a 
			text-transform: uppercase
			+f-bold
			font-size: 14px
			line-height: 17px
			margin-left: 42px
			letter-spacing: 0.05em
			@media (max-width: $mobile)
				display: none
.show-more-button
	flex-basis: 100%
	display: flex
	margin-top: 20px
	a 
		background: #F5F5F5
		line-height: 3.75
		justify-content: center
		width: 100%
		display: flex
		align-items: center
		font-size: 16px
		+after 
			@extend .icons-green-arrow-right
			margin-left: 6px
.calc-banner
	background: #F4F8F5
	padding: 50px 60px
	position: relative
	overflow: hidden
	margin-bottom: 40px
	@media (max-width: $mobile)
		padding: 15px
		padding-right: 130px
	+after 
		background-image: url($dir + "other/calc-banner.png")
		width: 302px
		height: 206px
		position: absolute
		right: 0
		bottom: 0
		background-repeat: no-repeat
		@media (max-width: $mobile)
			right: -70px
			bottom: -60px
	* 
		position: relative
		z-index: 2
	h3 
		font-size: 24px
		line-height: 34px
		margin-bottom: 20px
		font-weight: 600
		@media (max-width: $mobile)
			font-size: 18px
			line-height: 24px
	p 
		font-size: 16px
		line-height: 26px
		margin-bottom: 30px
		@media (max-width: $mobile)
			font-size: 14px
			line-height: 21px
			margin-bottom: 20px
.delevery-banner
	background: #F4F8F5
	padding: 50px 60px
	position: relative
	overflow: hidden
	margin-bottom: 40px
	@media (max-width: $mobile)
		padding: 15px
		display: none
	+after 
		background-image: url($dir + "other/delevery-banner.png")
		width: 382px
		height: 160px
		position: absolute
		right: 0
		bottom: 25px
		background-repeat: no-repeat
	* 
		position: relative
		z-index: 2
	h3 
		font-size: 24px
		line-height: 34px
		margin-bottom: 20px
		font-weight: 600
		@media (max-width: $mobile)
			font-size: 18px
			line-height: 24px
	p 
		font-size: 16px
		line-height: 26px
		margin-bottom: 30px
		@media (max-width: $mobile)
			font-size: 14px
			line-height: 21px
			margin-bottom: 20px
.gaz-banner
	background: #F4F8F5
	padding: 50px 60px
	position: relative
	overflow: hidden
	margin-bottom: 40px
	@media (max-width: $mobile)
		padding: 15px
		padding-right: 130px
	@media (max-width: 550px)
		padding-right: 15px
	+after 
		background-image: url($dir + "other/gaz-opt.png")
		width: 199px
		height: 215px
		position: absolute
		right: 0
		bottom: 0
		background-repeat: no-repeat
		@media (max-width: $mobile)
			right: -70px
			bottom: -60px
		@media (max-width: 550px)
			display: none
	* 
		position: relative
		z-index: 2
	h3 
		font-size: 24px
		line-height: 34px
		margin-bottom: 20px
		font-weight: 600
		@media (max-width: $mobile)
			font-size: 18px
			line-height: 24px
	p 
		font-size: 16px
		line-height: 26px
		margin-bottom: 30px
		@media (max-width: $mobile)
			font-size: 14px
			line-height: 21px
			margin-bottom: 20px
.garanty-and-pay-blocks
	margin-top: 100px
.garanty-and-pay-blocks--cell
	+flex-2
	background: #F5F5F5
	padding: 40px
	@media (max-width: $mobile)
		width: calc(100% - 30px)
		margin-bottom: 15px
		padding: 15px
	h3 
		font-size: 24px
		line-height: 34px
		margin-bottom: 20px
		font-weight: 600
		@media (max-width: $mobile)
			font-size: 16px
	p 
		font-size: 16px
		line-height: 26px
		margin-bottom: 30px
		@media (max-width: $mobile)
			font-size: 14px

.spec-green-block
	+flex 
	align-items: stretch
	@media (max-width: 1050px)
		flex-direction: column
	.text-1
		font-size: 20px
		line-height: 32px
		+f-bold
		margin-bottom: 30px
	.text-2
		font-size: 20px
		line-height: 32px
		text-transform: none
		margin-bottom: 20px
	.text-3
		font-size: 14px
		line-height: 24px
		margin-bottom: 30px
	.text-4
		font-size: 16px
		line-height: 28px
		+f-bold
		margin-bottom: 10px
	.text-5
		margin: 50px 0
	.more 
		margin: 30px 0
		color: #47484B 
		text-decoration: none
		+f-bold
		font-size: 14px
		line-height: 17px
	.ico-place
		margin-bottom: 20px
	.subinfo
		font-size: 12px
		line-height: 20px
.spec-green-block--left
	width: 50%
	background: #F7F7F7
	padding: 50px
	@media (max-width: 1050px)
		width: 100%
	@media (max-width: $mobile)
		padding: 20px
.spec-green-block--right 
	width: 50%
	background: #3A6241
	color: #FFF 
	padding: 50px
	@media (max-width: 1050px)
		width: 100%
	@media (max-width: $mobile)
		padding: 20px
	.text-1 
		text-transform: uppercase
		font-size: 14px
		line-height: 17px
		margin-bottom: 50px
.text-padding-place
	padding: 50px 100px 
	@media (max-width: $mobile)
		padding: 30px 0
.landing-page
	max-width: 746px
	margin: 60px auto 
	text-align: center 
	.subtitle
		color: #47484B
		font-size: 24px
		line-height: 34px
	.button
		justify-content: center
		padding: 30px 0
		+flex 
		>a 
			max-width: 300px
			line-height: 3.5
			padding-left: 30px
			padding-right: 30px
	.image
		padding: 60px 0
		img 
			max-width: 100%
.landing-page--articles
	.group 
		margin-bottom: 50px
		.cell 
			img 
				max-width: 100%
			@media (max-width: $mobile)
				width: calc(100% - 30px) !important
				&.text-place 
					// margin-top: 30px 
					// margin-bottom: 30px
					padding-bottom: 30px
					order: 1
				&.image-place 
					order: 2
.about-company-prevelegios
	padding: 60px 60px 60px 100px
	background: #F4F8F5
	@media (max-width: $mobile)
		padding: 30px
	.group 
		.cell 
			margin-bottom: 40px
			@media (max-width: $mobile)
				width: calc(100% - 30px) !important
			h3 
				margin: 20px 0
				font-size: 20px
				line-height: 32px
				color: #1F2227
			p 
				font-size: 16px
				line-height: 26px
				color: #47484B
.about-company-numbers
	h2
		font-weight: 300
		font-size: 48px
		line-height: 52px
		+f-normal
		@media (max-width: $mobile)
			font-size: 40px
			line-height: 42px
			margin-bottom: 20px
	p 
		font-size: 16px
		line-height: 26px
		@media (max-width: $mobile)
			font-size: 16px
			line-height: 20px
	.group 
		.cell 
			margin-bottom: 30px
			@media (max-width: $mobile)
				width: calc(100% - 30px) !important
.blog-controls
	+flex 
	+flex-j 
	padding: 20px 0
	@media (max-width: $mobile)
		flex-direction: column
		justify-content: center
.blog-controls--show-more
	background: #F5F5F5
	width: 100%
	max-width: 435px
	text-align: center 
	line-height: 60px
	cursor: pointer
	color: $green 
	&:hover 
		color: $text
	@media (max-width: $mobile)
		order: 2
.blog-controls--pagination
	+flex 
	@media (max-width: $mobile)
		margin-bottom: 20px
	li 
		background: #F5F5F5
		line-height: 60px
		width: 60px
		margin-left: 1px
		color: #1F2227
		display: flex 
		align-items: center 
		justify-content: center
		a 
			color: #6B6D74
			display: block
			&:hover 
				color: $green
.blog-page-inner--text
	padding-left: 100px
	padding-right: 100px
	p 
		font-size: 16px
		line-height: 26px
	@media (max-width: $mobile)
		padding-left: 0
		padding-right: 0
.add-comment
	margin: 20px 0 60px
	+flex 
	+flex-j 
	background: #F5F5F5
	border: 1px solid #DEE1E6
	padding: 20px
	input 
		width: calc(100% - 30px)
		border: 0
		color: #6B6D74
		font-size: 14px
		line-height: 17px
		background: #F5F5F5
.comments--attach 
	&:hover
		opacity: .7
	+after 
		+svg("attach", 16px, 16px)
.comments-block
	+after 
.comments-list
	+after 
.comments-list--item
	+flex 
	align-items: normal
	margin-bottom: 50px
.comments--text-place
	width: calc(100% - 70px)
	padding-left: 30px
.comments--name 
	margin-bottom: 10px
	font-weight: 500
	font-size: 16px
	line-height: 19px
	color: #47484B
.comments--date
	font-size: 12px
	line-height: 14px
	margin-bottom: 20px
.comments--text 
	margin-bottom: 20px
	font-size: 16px
	line-height: 26px
	+f-bold
.comments-attach
	+flex 
	a 
		margin-right: 10px
.comments--avatar
	@extend .reviews--avatar

.add-comment--open-form
	+after 
	margin: 30px 0
	display: none
.add-comment--textarea
	position: relative
	border: 1px solid #969AA3
	padding: 20px
	margin-bottom: 30px
	.comments--attach
		position: absolute
		bottom: 20px
		right: 20px
	textarea 
		width: 100%
		height: auto 
		border: 0
		min-height: 50px
		font-size: 14px
		line-height: 24px
		+f-normal
		resize: none
.personal-info
	font-size: 12px
	line-height: 16px
.add-comment--fields-place
	span 
		font-size: 16px
		line-height: 20px
		color: #1F2227
	.group
		margin-bottom: 15px
		.cell 
			align-items: center
			font-size: 16px
			line-height: 20px
			.btn-gray, .btn-green
				display: block
				text-align: center
				line-height: 70px
	.social
		display: flex
		margin-bottom: 15px
		a 
			margin-right: 10px
	.captcha
		margin-bottom: 20px
.contacts-info
	.cell 
		h3 
			margin-bottom: 0
		.btn-green 
			line-height: 70px
			max-width: 230px
			justify-content: center
.contacts-social
	+flex 
	a 
		margin-right: 20px
.map-button
	border: 1px solid #E0E0E0
	border-radius: 6px
	+flex 
	color: $title
	max-width: 230px
	line-height: 50px
	padding: 0 10px 
	cursor: pointer
	+before 
		background: #FF790E
		border-radius: 3px
		height: 28px
		width: 28px
		margin-right: 14px
.contacts-page
	@media (max-width: $mobile)
		.group 
			.cell 
				width: calc(100% - 30px) !important
.faq--list
	+after 
	border-top: 1px solid #DEE1E6
.faq-list--item	
	border-bottom: 1px solid #DEE1E6
	padding: 20px 0
	.question
		font-size: 20px
		line-height: 32px
		color: $title 
		+flex 
		+flex-j
		cursor: pointer
		flex-direction: nowrap
		@media (max-width: $mobile)
			font-size: 18px
			line-height: 28px
		span 
			display: block
			width: calc(100% - 30px)
		+after 
			+svg("faq-list-close", 13px, 13px)
	.answer
		color: $title 
		display: none
		padding: 20px 0
		p 
			font-size: 14px
			line-height: 24px
	&:hover
		.question
			color: $green
	&.open 
		.question
			&:after
				transform: rotate(45deg)
		.answer
			display: block
.delivery-list
	@media (max-width: $mobile)
		.group 
			.cell 
				width: calc(100% - 30px) !important
.avantgardes-block
	@media (max-width: 1000px)
		.group 
			.cell 
				width: calc(100% - 30px) !important
.garanty-blocks
	img 
		max-width: 100%
	@media (max-width: 1000px)
		.group 
			.cell 
				width: calc(100% - 30px) !important
			&.order-1
				.cell 
					&:nth-child(1)
						order: 1
						padding-bottom: 30px
					&:nth-child(2)
						order: 2
			&.order-2
				.cell 
					&:nth-child(2)
						order: 1
						padding-bottom: 30px
					&:nth-child(1)
						order: 2
.actions-list
	+after 
.actions-list--item
	margin-bottom: 60px
	a 
		display: block
		color: $title
		img 
			display: block 
			margin-bottom: 15px
		&:hover
			opacity: .9
.actions-page
	+after 
.actions-page--image
	margin-bottom: 15px
	img 
		max-width: 100%
.actions-page--date
	margin-bottom: 15px
	font-size: 14px
	line-height: 17px
	color: #6B6D74
.actions-page--title
	font-size: 20px
	line-height: 32px
	color: $title 
	margin-bottom: 30px
	text-transform: none