footer 
	background: #1F2227
	h4 
		color: #9FA3AD
		font-size: 20px
		line-height: 24px
		margin-bottom: 30px
		@media (max-width: 900px)
			color: #FFF
			display: flex 
			align-items: center
			margin-bottom: 10px
		+after 
			@extend .icons-white-arrow-down
			display: none
			@media (max-width: 900px)
				display: block
				margin-left: 10px
	.social 
		color: #FFF
	.group
		@media (max-width: 900px)
			flex-direction: column
		.cell
			@media (max-width: 900px)
				width: calc(100% - 30px) !important
			&.false-block
				@media (max-width: 900px)
					display: none !important
	a 
		color: #FFF
	ul 
		font-size: 0
		@media (max-width: 900px)
			display: none
		li 
			width: 100%
			margin-bottom: 10px
			a 
				display: block
				font-size: 14px
				line-height: 17px
				color: #E0E0E0

.footer--level
	padding: 60px 60px 17px 100px
	border-bottom: 1px solid #383A42 
	@media (max-width: 1100px)
		padding: 30px 
		overflow: hidden
	&.two-level
		padding: 21px 60px 23px 100px
		@media (max-width: 1100px)
			padding: 30px 
		.group 
			.cell 
				@media (max-width: 900px)
					+flex-1
				&:first-child
					@media (max-width: 900px)
						// display: none
						border-bottom: 1px solid #383A42 
						margin-bottom: 20px
						padding-bottom: 10px
					position: relative
					+after 
						content: " "
						background: #383A42
						height: 1px
						position: absolute
						left: -200px
						bottom: -1px
						width: 200px
						display: none
						@media (max-width: 900px)
							display: block
					+before  
						content: " "
						display: none
						background: #383A42
						height: 1px
						position: absolute
						right: -200px
						bottom: -1px
						width: 200px
						@media (max-width: 900px)
							display: block
				@media (max-width: 900px)
					display: flex 
					flex-direction: column
					a 
						font-size: 18px
						margin-bottom: 10px
						color: #FFF
	&.last-level
		padding: 18px 60px 18px 100px
		@media (max-width: 1100px) 
			padding: 30px
			.cell 
				&:first-child
					margin-bottom: 10px 
		border-bottom: 0
		color: #9FA3AD
		font-size: 12px
		line-height: 14px
		a 
			color: #9FA3AD