.opened {
	.jq-selectbox__select {
		background: #FFF;
		border-color: #969AA3;
		color: #303030;
	}
}
.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
	width: 100%;	
}
.jq-selectbox__select {
	// @extend select;
	border: 1px solid #DEE1E6;
	background: #F5F5F5;
	width: 100%;
	height: 70px;
	line-height: 70px;
	margin-bottom: 0;
	padding-top: 4px;
	padding: 0 20px;
	color: #969AA3;
}
.jq-selectbox__select:hover {
	background: #FFF;	
}
.jq-selectbox__select:active {
	background: #FFF;
	border-color: #F5F5F5;
	color: #303030;
}
.jq-selectbox.focused .jq-selectbox__select {
	
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: $text;
}
.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-selectbox .placeholder {
	color: $text;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	@extend .icons-select;
	position: absolute;
	top: 32px;
	right: 12px;	
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	border-top-color: #000;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-top-color: #AAA;
}
.jq-selectbox__dropdown {
	width: 100%;
	margin: -1px 0 0;
	padding: 0;
	border: 1px solid #969AA3;
	background: #FFF;
	z-index: 108;
	border-top: #DEE1E6 1px solid;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	@extend select;
	margin-bottom: 0;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 40px;
	line-height: 40px;
	padding: 10px;
	@include f-medium;
	// padding: .5em !important;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
	color: $text;
	display: block;
	margin: 0;
}
.jq-selectbox li.selected {
	background-color:  #F5F5F5;
	color: $title;
}
.jq-selectbox li.sel {
	background-color:  #F5F5F5;
	color: $title;
}
.jq-selectbox li:hover {
	background-color: shade(#FFF, 6);
}
.jq-selectbox li.sel:hover {
	background-color: #F5F5F5;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}