.dynamic-input
	border: 1px solid #DEE1E6
	background: #F5F5F5
	height: 70px
	padding-left: 20px
	padding-right: 20px
	width: 100%
	line-height: 70px
	position: relative
	input 
		width: 100%
		font-size: 16px
		line-height: 70px
		border: 0
		background: none
		display: none
		padding-top: 9px
	.label
		transition: .3s
		position: absolute
		left: 20px
		top: 0
		font-size: 16px
		color: #969AA3
	&:hover
		border: 1px solid #969AA3
	&:focus, &:valid, &.focus
		border: 1px solid #969AA3
		input 
			display: block
		.label 
			position: absolute
			font-size: 14px
			top: -17px
.static-input
	border: 1px solid #DEE1E6
	background: #F5F5F5
	height: 70px
	padding-left: 20px
	padding-right: 20px
	width: 100%
	line-height: 70px
	position: relative
	input 
		width: 100%
		font-size: 16px
		line-height: 70px
		border: 0
		background: none
.chechbox, .radio
	display: inline-flex

input[type=radio]
	display: none
input[type=radio] + label 
	display: flex
	align-items: center
	color: #1F2227
	font-size: 16px
	line-height: 19px
	margin: 15px 0
	+f-medium
	+before
		+svg("radio",24px,24px)
		margin-right: 10px
	&:hover
		&:before
			+svg("radio-hover",24px,24px)
input[type=radio]:checked + label 
	&:before
		+svg("radio-active",24px,24px)

input[type=checkbox]
	display: none
input[type=checkbox] + label 
	display: flex
	align-items: center
	color: #1F2227
	font-size: 16px
	line-height: 19px
	margin: 15px 0
	+f-medium
	+before
		+svg("checkbox",24px,24px)
		margin-right: 10px
	&:hover
		&:before
			+svg("checkbox-hover",24px,24px)
input[type=checkbox]:checked + label 
	&:before
		+svg("checkbox-active",24px,24px)

select 
	border: 1px solid #DEE1E6
	background: #F5F5F5
	height: 70px
	padding-left: 20px
	padding-right: 20px
	width: 100%
	line-height: 70px
	color: #969AA3