.modal-window
	position: fixed
	z-index: 1009
	width: 100%
	max-width: 954px
	padding: 30px 90px
	background: #FFF
	min-height: 300px
	max-height: 100%
	+shadow 
	left: 0
	right: 0
	margin: 0 auto 
	top: 10vh
	display: none
	overflow-x: auto
	@media (max-width: 1000px)
		width: calc(100% - 30px)
		top: 4vh
		padding: 20px
	.close
		cursor: pointer
		position: absolute
		right: 20px
		top: 20px
		transition: .6s
		+after 
			+svg("x-close", 11px, 11px)
		&:hover
			transform: rotate(360deg)
	.group 
		.cell 
			.module-stars
				margin-bottom: 15px
			@media (max-width: $mobile)
				width: calc(100% - 30px) !important
	.personal-info
		@media (max-width: $mobile)
			margin-bottom: 20px
.modal--title
	font-size: 48px
	line-height: 52px
	+f-bold
	margin-bottom: 40px
	color: $title
	@media (max-width: $mobile)
		font-size: 32px
		line-height: 40px
		margin-bottom: 30px
.modal--subtitle
	font-size: 24px
	line-height: 34px
	border-bottom: 1px solid #DEE1E6
	padding-bottom: 5px
	margin-bottom: 30px
	@media (max-width: $mobile)
		font-size: 21px
		line-height: 31px
.modal-window--calc
	max-width: 100%
	top: 0
	height: 100%
	padding: 0
	@media (max-width: 1000px)
		width: 100%
	.container
		>.flex
			+flex-j
			@media (max-width: 900px)
				flex-direction: column
.calc--left-side
	width: 754px
	padding: 30px 0 60px
	@media (max-width: $site-width)
		width: calc(100% - 485px)
	@media (max-width: 900px)
		width: 100%
		padding: 20px 0 40px
	h2 
		font-size: 48px
		line-height: 52px
		@media (max-width: 1100px)
			font-size: 32px
			line-height: 40px
	.space 
		height: 20px
	.btn-green
		justify-content: center
		height: 70px
	.modal--subtitle
		margin-top: 10px
	.group
		margin-bottom: 30px
		.cell 
			&.size-33
				padding-top: 17px
				line-height: 1.2
			span 
				color: #1F2227
				line-height: 20px
				font-size: 16px
				+f-medium
			small 
				color: #6B6D74
				+f-medium
				font-size: 12px
			&.two-radio
				@media (max-width: 450px)
					flex-direction: column
					.radio 
						display: flex
				.radio
					margin-right: 80px
					@media (max-width: 600px)
						margin-right: 20px
					&:last-child
						margin-right: 0
			@media (max-width: 1100px)
				width: calc(100% - 30px) !important
				&.size-33
					margin-bottom: 30px
.calc--right-side
	width: 455px
	position: relative
	@media (max-width: 900px)
		width: 100%
		display: flex
		flex-direction: column
	a 
		color: #FFF
		text-decoration: none
		&:hover
			text-decoration: underline
	table
		width: 100%
		tr 
			td 
				+f-medium
				padding: 15px 0
				&:nth-child(1)
					color: #6B6D74
					font-size: 14px
				&:nth-child(2)
					text-align: right 
					font-size: 16px
					color: #1F2227
				&.final
					font-size: 24px
					line-height: 29px
	.gray-place
		background: #F5F6F6
		padding: 140px 50px
		@media (max-width: 900px)
			display: none
			padding: 20px 16px
			order: 1
	.green-place
		padding: 35px 50px
		background: #34794B
		position: relative
		table 
			tr 
				td 
					color: #FFF !important
		.calc-question
			+svg("calc-question", 21px, 21px)
			right: 16px
			top: 60px
			position: absolute
			display: none
			cursor: pointer
			@media (max-width: 900px)
				display: block
		@media (max-width: 900px)
			padding: 20px 16px
			order: 3
			table 
				tr 
					display: block
					td 
						display: block
						text-align: left !important
						&:nth-child(1)
							font-size: 12px
							line-height: 20px
							padding-bottom: 0
						&:nth-child(2)
							font-size: 18px
							line-height: 22px
	.green2-place
		padding: 35px 50px
		background: #2E884C
		color: #FFF !important
		@media (max-width: 900px)
			padding: 20px 16px
			order: 2
		table 
			tr 
				td 
					color: #FFF !important
	h3 
		+f-medium
	.calc--close, .calc--adapt-close
		height: 60px
		width: 60px
		background: #DEE1E6
		position: absolute
		top: 0
		right: 0
		display: flex 
		justify-content: center 
		align-items: center
		cursor: pointer
		&:hover
			background: tint(#DEE1E6,12)
		+after 
			+svg("x-close-2", 25px, 25px)
		@media (max-width: 900px)
			display: none
	.calc--adapt-close
		display: none
		@media (max-width: 900px)
			display: flex
.modal-window--callback
	max-width: 474px
	padding-left: 50px
	padding-right: 50px
	top: 100px
	@media (max-width: 500px)
		padding-left: 15px
		padding-right: 15px
	small 
		font-size: 12px
		line-height: 16px
		color: #5C6577
		a 
			color: $title
.callback--submit-place
	margin-top: 30px
.callback--subtitle
	font-size: 24px
	line-height: 34px
	color: #1F2227
	+f-medium
	margin-bottom: 20px
.modal-window--message-after-send
	display: none
	p 
		font-size: 32px
		line-height: 42px
		color: $title
		+f-medium
		@media (max-width: $mobile)
			font-size: 18px
			line-height: 26px
	.btn-green
		display: inline-flex