.module--phone
	display: flex
	i 
		margin-right: 12px
	b 
		font-weight: 500
.btn-blue
	background: #00AE3B 
	line-height: 2.75
	color: #FFF
	cursor: pointer
	font-size: 16px
	font-weight: 500
	padding-left: 20px
	padding-right: 20px
	display: flex
	&:hover
		background: tint($blue, 10)
	i 
		margin-right: 12px
.btn-gray
	background: #969AA3
	line-height: 2.75
	color: #FFF
	cursor: pointer
	font-size: 16px
	font-weight: 500
	padding-left: 20px
	padding-right: 20px
	display: flex
	align-items: center
	&:hover
		background: tint(#969AA3 , 10)
	i 
		margin-right: 12px
.btn-green
	background: #00AE3B 
	line-height: 2.75
	color: #FFF
	cursor: pointer
	font-size: 16px
	font-weight: 500
	padding-left: 20px
	padding-right: 20px
	display: flex
	align-items: center
	&:hover
		background: tint(#00AE3B , 10)
	i 
		margin-right: 12px
.btn-transparent
	line-height: 2.75
	color: #47484B
	cursor: pointer
	font-size: 16px
	font-weight: 500
	padding-left: 20px
	padding-right: 20px
	display: flex
	align-items: center
	i 
		margin-right: 12px
.daw-list
	margin: 0
	padding: 0
	li 
		position: relative
		padding-left: 35px
		min-height: 30px
		margin-bottom: 15px
		+before 
			@extend .icons-daw-list
			position: absolute
			left: 0
			top: 0px
.input
	position: relative
	margin-bottom: 15px
	+before 
		position: absolute
		left: 16px
		top: 20px
	input
		width: 100%
		height: 60px
		border: 1px solid #CDC6B4
		border-radius: 2rem
		font-size: 16px
		padding-left: 40px
	&.field-name
		&:before 
			@extend .icons-field-name
	&.field-phone
		&:before 
			@extend .icons-field-phone
	&.field-email
		&:before 
			@extend .icons-field-email
.politic
	font-size: 10px
	text-align: center 
	a 
		color: $text
.social
	display: flex
	align-items: center 
	i 
		margin-left: 10px
.show-more-link
	a 
		display: flex 
		align-items: center
		font-size: 14px
		+after 
			@extend .icons-show-more-arrow
			margin-left: 16px
.slider--wr
	margin-left: -15px
	margin-right: -15px
	@media (max-width: $mobile)
		margin-left: 0
		margin-right: 0
.tab-switcher
	+flex 
	border-bottom: 2px solid #DEE1E6
	flex-flow: row nowrap
	@media (max-width: $mobile)
		overflow-y: hidden
		overflow-x: auto
		border-bottom: 0
	li 
		text-transform: uppercase
		font-size: 12px
		margin-right: 20px
		+f-bold
		position: relative
		padding: 0 0 20px
		cursor: pointer
		white-space: nowrap
		&.on 
			color: $green
			+after 
				position: absolute
				left: 0
				bottom: -2px
				background: $green
				width: 100%
				height: 2px
				@media (max-width: $mobile)
					display: none
.line-list
	li 
		position: relative
		margin-bottom: 20px
		font-size: 16px
		line-height: 19px
		padding-left: 30px
		+before 
			+svg("li-line", 14px, 2px)
			position: absolute
			left: 0
			top: 7px
.big-green-button
	background: #00AE3B
	font-size: 16px
	line-height: 70px
	text-align: center 
	color: #FFF 
	cursor: pointer
	+f-bold
	&.onmain
		max-width: 310px
	&:hover
		background: tint(#00AE3B, 10)
	@media (max-width: $mobile)
		line-height: 40px
		font-size: 14px
.rating-count
	font-size: 20px
	line-height: 24px
	margin-right: 10px
	color: #1F2227
.rating-total-reviews
	font-size: 12px
	line-height: 14px
	color: #6B6D74
	margin-left: 10px
.share-block
	margin: 30px 0
	+flex 
	span 
		margin-right: 20px
		font-size: 16px
		line-height: 19px
		color: #47484B
	a 
		margin-right: 10px

.page-text
	font-size: 24px
	line-height: 34px
	color: #6B6D74
	b 
		color: $black

.download-price-block
	margin: 30px 0
	+flex 
	+flex-j
.download-price-block--link
	border: 1px solid #DEE1E6
	padding: 15px 30px
	position: relative
	+flex 
	+flex-j
	+before  
		+svg("download", 21px, 28px)
		margin-right: 20px
	div 
		line-height: 1.25
	b 
		font-size: 16px
		line-height: 19px
		font-weight: 500
		color: #1F2227
	small 
		font-size: 12px
		line-height: 14px
		color: #6B6D74
	&:hover 
		opacity: .8
.download-price-block--info
	font-size: 14px
	line-height: 24px
	color: #47484B
	border-left: 1px solid #DEE1E6
	padding: 15px 30px
	padding-right: 0
.maintext
	margin-bottom: 30px
	p 
		font-size: 24px
		line-height: 34px
		color: #6B6D74
		strong 
			+f-bold
			color: $title
		@media (max-width: $mobile)
			font-size: 18px
			line-height: 26px
.page-search
	margin: 30px 0
	position: relative
	.submit 
		position: absolute
		right: 30px
		top: 22px
		cursor: pointer
		+after 
			+svg("search-2",24px,24px)
	input 
		border: 1px solid #DEE1E6
		height: 70px
		background: #F5F5F5
		padding: 0 30px 
		width: 100%
.article-list
	margin-bottom: 30px
	li 
		display: block
	>li 
		&:last-child
			>a 
				border-bottom: 1px solid #E0E0E0
		>ul 
			>li 
				>a 
					padding-left: 30px
				>ul 
					>li 
						>a 
							padding-left: 60px
	a 
		font-size: 18px
		line-height: 22px
		color: #1F2227
		display: block
		border-top: 1px solid #E0E0E0
		padding: 20px 0
		&:hover
			background: #Fdfdfd
.logo-header
	.group 
		.cell 
			&.size-33
				text-align: right
				@media (max-width: $mobile)
					order: 1
.module-stars--control
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 31px
	z-index: 2
	background-repeat: no-repeat
	background-image: url($dir + "other/rating-full.png")
.module-stars
	position: relative
	width: 193px
	height: 31px
	&.active
		cursor: pointer
	+before 
		background-image: url($dir + "other/rating-empty.png")
		width: 193px
		height: 31px
		z-index: 1
		position: absolute
		left: 0
		top: 0
		background-repeat: no-repeat
	&.size-small
		width: 97px
		height: 19px
		&:before 
			background-image: url($dir + "other/rating-empty-small.png")
			width: 97px
			height: 15px
		.module-stars--control
			width: 97px
			height: 15px
			background-image: url($dir + "other/rating-full-size-small.png")
	&.size-middle
		transform: scale(.75)
		transform-origin: left
		width: 145px
		height: 23px
		&:before 
			width: 145px
			height: 23px
			background-image: url($dir + "other/rating-empty-size-middle.png")
		.module-stars--control
			background-image: url($dir + "other/rating-full-size-middle.png")
.adapt--mobile-button
	display: none
	@media (max-width: $mobile)
		display: flex 
		position: fixed
		bottom: 30px
		left: 30px
		z-index: 99
		background: $green 
		border-radius: 108rem
		height: 45px
		width: 45px
		line-height: 45px
		align-items: center 
		cursor: pointer
		justify-content: center
		+after 
			+svg("m-button", 20.7px,20.7px)
			+shadow